<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Zoos to Zee</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-10">
                <h3>Welcome to the Zoos and Animals site!</h3>
            </div>
            <div class="col">
                <a href="/???">All zoos</a>
            </div>
        </div>
        <div class="row">
            <h1>List of Animals</h1>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Species</th>
                    <th>Zoo</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- Fill this in with info from your database-->
            </tbody>
        </table>
        <a href="/???" class="btn btn-primary">Add animal</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>