<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Edit a Zoo</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-10">
                <h3>Edit {{ this_zoo.name }}</h3>
            </div>
            <div class="col">
                <a href="/zoos">All zoos</a>
            </div>
        </div>
        <form action="/zoos/{{ this_zoo.id }}/edit_zoo_in_db" method="POST">
            <div class="row">
                <label>Name:</label>
                <input type="text" name="name" value="{{ this_zoo.name }}">
            </div>
            <div class="row">
                <label>City:</label>
                <input type="text" name="city" value="{{ this_zoo.city }}">
            </div>
            <div class="row">
                <label>Size (acres):</label>
                <input type="number" name="size" value="{{ this_zoo.size }}">
            </div>
            <div class="row">
                <label>Visitor capacity:</label>
                <input type="number" name="visitor_capacity" value="{{ this_zoo.visitor_capacity }}">
            </div>
            <div class="row">
                <label>Opening date:</label>
                <input type="date" name="opening_date" value="{{ this_zoo.opening_date }}">
            </div>
            <input type="submit" class="btn btn-primary" value="Edit zoo">
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>